<!-- chat.component.html -->
<div class="chat-window">
    <app-message
      *ngFor="let msg of messages"
      [message]="msg"
      (rate)="rateMessage($event)">
    </app-message>
  
    <div *ngIf="isTyping" class="typing-indicator">{{ 'CHAT.TYPING' | translate }}</div>
  
    <mat-form-field class="input">
      <input matInput placeholder="{{'CHAT.PLACEHOLDER' | translate}}" [(ngModel)]="newContent" (keyup.enter)="send()" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="send()">{{ 'CHAT.SEND' | translate }}</button>
  </div>
  
  